ai:
    platform:
        openai:
            api_key: '%env(OPENAI_API_KEY)%'
    agent:
        stream:
            model: 'gpt-4o-mini'
            prompt:
                file: '%kernel.project_dir%/prompts/stream-chat.txt'
            tools: false
