services:
    php:
        build:
            context: .
            target: frankenphp_dev
        volumes:
            - ./:/app
            - ./frankenphp/Caddyfile:/etc/frankenphp/Caddyfile:ro
            - ./frankenphp/conf.d/20-app.dev.ini:/usr/local/etc/php/app.conf.d/20-app.dev.ini:ro
        environment:
            SERVER_NAME: localhost, php:80
            SERVER_PORT: 8000
            FRANKENPHP_WORKER_CONFIG: watch
            MERCURE_EXTRA_DIRECTIVES: demo
            # See https://xdebug.org/docs/all_settings#mode
            XDEBUG_MODE: "${XDEBUG_MODE:-off}"
            APP_ENV: "${APP_ENV:-dev}"
        dns:
            - 1.1.1.1
            - 8.8.8.8
        extra_hosts:
            - host.docker.internal:host-gateway
        tty: true
        ports:
            -   target: 80
                published: ${HTTP_PORT:-80}
                protocol: tcp
            -   target: 443
                published: ${HTTPS_PORT:-443}
                protocol: tcp
            -   target: 443
                published: ${HTTP3_PORT:-443}
                protocol: udp
networks:
    dokploy-network:
        external: false
        driver: bridge
